#searchPanel {
  display: flex;
  flex-direction: column;
  margin: 1%;
  align-items: center;
}

#addSearchForm {
  display: flex;
  width: 98%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#tagsList {
  margin: .5% 1% .5% 1%;
}

.fa-stop-circle {
  color: red;
}

.fa-at {
  color: black;
}

.fa-hashtag {
  color: black;
}
