#listPanel {
  position: relative;
  margin: 1%;
  border-radius: 2%;
  background: linear-gradient(white, #80909b);
}

#listTitle {
  z-index: 10;
  width: 100%;
  text-align: center;
}

#tweetList {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  width: 100%;
  padding: 1%;
  flex: 1;
    /* Track */
    /* Handle */
}

#tweetList::-webkit-scrollbar {
  width: .4vw;
}

#tweetList::-webkit-scrollbar-track {
  height: 95%;
  border-radius: .3em .3em .3em .3em;
  box-shadow: inset 0 0 .2em rgba(255, 153, 0, 0);
}

#tweetList::-webkit-scrollbar-thumb {
  border-radius: .3em .3em .3em .3em;
  background: #7e7e7e;
}

#clearListButton {
  position: absolute;
  z-index: 10;
  right: .3em;
  bottom: .3em;
}

.media {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  margin: .3em;
}
