@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/icon.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/form.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/other.sass";
@import "../../../node_modules/bulma/bulma.sass";

#myApp {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0;
  background: linear-gradient(rgb(0, 255, 251), rgb(0, 88, 146));
}

#rightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titleBanner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#searchPanel {
  width: 100%;
}



#listPanel {
  width:30%;
  display: flex;
  flex-direction: column;
}

#mapPanel {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}




