#searchPanel {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addSearchForm {
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tagsList {
    margin: 0.5% 1% 0.5% 1%;
}

.fa-stop-circle {
    color: red;
}

.fa-at {
    color: black;
}
.fa-hashtag {
    color: black;
}