#listPanel {
    position: relative;
    margin: 1%;
    background: linear-gradient(rgb(255, 255, 255), rgb(128, 144, 155));
    border-radius: 2%;
}

#listTitle {
    width: 100%;
    text-align: center;
    z-index: 10;
}

#tweetList {
    flex:1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0.4vw;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0.2em rgba(255, 153, 0, 0); 
        border-radius: 0.3em 0.3em 0.3em 0.3em;
        height: 95%;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(126, 126, 126);
        border-radius: 0.3em 0.3em 0.3em 0.3em;
    }
}   

#clearListButton {
    position: absolute;
    bottom: 0.3em;
    right: 0.3em;
    z-index: 10;
}

.media {
    min-height: min-content;
    margin: 0.3em;
}